# Assignment 2

In [26]:
import pandas as pd
import numpy as np

### a) Read a dataset from diamonds Data Frame and modify the default column values and print the first 6 rows

In [27]:
ds=pd.read_csv('diamonds.csv')
ds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [28]:
ds[['carat','cut','x','y','z']].head(6)

   carat        cut     x     y     z
0   0.23      Ideal  3.95  3.98  2.43
1   0.21    Premium  3.89  3.84  2.31
2   0.23       Good  4.05  4.07  2.31
3   0.29    Premium  4.20  4.23  2.63
4   0.31       Good  4.34  4.35  2.75
5   0.24  Very Good  3.94  3.96  2.48

### b) Select a series from diamonds Data Frame .Print the content on the series

In [29]:
ds['x']

0        3.95
1        3.89
2        4.05
3        4.20
4        4.34
         ...
53935    5.75
53936    5.69
53937    5.66
53938    6.15
53939    5.83
Name: x, Length: 53940, dtype: float64

### c) Create a new 'Quality -color' Series (Use bracket notation to deffine the Series name) of the diamond Data Frame

In [30]:
ds['Quality -color']=ds.cut+','+ds.color
ds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Quality -color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal,E"
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium,E"
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good,E"
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium,I"
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good,J"

In [32]:
ds['Quality -color']=0
ds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Quality -color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0

### d) Rename two of the columns of the Diamonds Data Frame and rename all the columns of the diamonds Data Frame

In [13]:
ds.rename(columns={'color':'diamond_color','clarity':'diamond_clarity'}).head()

,Unnamed: 0,carat,cut,diamond_color,diamond_clarity,depth,table,price,x,y,z,Quality -color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal,E"
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium,E"
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good,E"
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium,I"
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good,J"

### e) Remove the second column of the diamonds Data Frame and remove multiple columns at once of the diamond Data Frame

In [14]:
ds.drop(['cut'],axis=1).head()

,Unnamed: 0,carat,color,clarity,depth,table,price,x,y,z,Quality -color
0,1,0.23,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal,E"
1,2,0.21,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium,E"
2,3,0.23,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good,E"
3,4,0.29,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium,I"
4,5,0.31,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good,J"

### f) Remove multiple rows at once (axis=0 refers to rows) from diamonds Data Frame

In [15]:
ds.drop([2,4,5],axis=0,inplace=True)

In [16]:
ds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Quality -color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal,E"
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium,E"
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium,I"
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47,"Very Good,I"
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53,"Very Good,H"

### g) Sort the'Price' Series in descending order (return a series) of diamonds Data Frame and sort the entire diamonds data Frame by the 'carat' Series in Ascending & Descending order

In [17]:
ds.price.sort_values(ascending=False)

27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
         ...
7          337
6          336
3          334
1          326
0          326
Name: price, Length: 53937, dtype: int64

In [18]:
ds.carat.sort_values(ascending=True)

31593    0.20
31598    0.20
14       0.20
31600    0.20
31599    0.20
         ...
25998    4.01
25999    4.01
27130    4.13
27630    4.50
27415    5.01
Name: carat, Length: 53937, dtype: float64

### h) Filter the Data Frame rows to only show carat weight at least 0.3

In [19]:
print("Rows to only show carat weight at least 0.3")
booleans=[]
for i in ds.carat:
    if i >= 0.3:
        booleans.append(True)
    else:
        booleans.append(False)
print(booleans[0:30])

Rows to only show carat weight at least 0.3
[False, False, False, False, False, False, False, True, False, False, True, False, True, True, True, True, True, True, False, False, True, True, False, False, True, False, False, False, False, False]

### i) Find the Diamonds that are with a fair or good or premium

In [33]:
ds[ds.cut.isin(['Fair','Good','Premium'])].head(50)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Quality -color
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49,0
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73,0
17,18,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70,0
18,19,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71,0
20,21,0.30,Good,I,SI2,63.3,56.0,351,4.26,4.30,2.71,0
35,36,0.23,Good,F,VS1,58.2,59.0,402,4.06,4.08,2.37,0
36,37,0.23,Good,E,VS1,64.1,59.0,402,3.83,3.85,2.46,0
37,38,0.31,Good,H,SI1,64.0,54.0,402,4.29,4.31,2.75,0
42,43,0.26,Good,D,VS2,65.2,56.0,403,3.99,4.02,2.61,0
43,44,0.26,Good,D,VS1,58.4,63.0,403,4.19,4.24,2.46,0
44,45,0.32,Good,H,SI2,63.1,56.0,403,4.34,4.37,2.75,0
47,48,0.32,Good,H,SI2,63.8,56.0,403,4.36,4.38,2.79,0
59,60,0.30,Good,I,SI1,63.2,55.0,405,4.25,4.29,2.70,0
74,75,0.30,Good,H,SI1,63.7,57.0,554,4.28,4.26,2.72,0
84,85,0.26,Good,E,VVS1,57.9,60.0,554,4.22,4.25,2.45,0
91,92,0.86,Fair,E,SI2,55.1,69.0,2757,6.45,6.33,3.52,0
95,96,0.70,Good,E,VS2,57.5,58.0,2759,5.85,5.90,3.38,0
96,97,0.70,Good,F,VS1,59.4,62.0,2759,5.71,5.76,3.40,0
97,98,0.96,Fair,F,SI2,66.3,62.0,2759,6.27,5.95,4.07,0
123,124,0.70,Fair,F,VS2,64.5,57.0,2762,5.57,5.53,3.58,0
124,125,0.70,Fair,F,VS2,65.3,55.0,2762,5.63,5.58,3.66,0
128,129,0.91,Fair,H,SI2,64.4,57.0,2763,6.11,6.09,3.93,0
129,130,0.91,Fair,H,SI2,65.7,60.0,2763,6.03,5.99,3.95,0
145,146,0.70,Good,H,VVS2,62.1,64.0,2767,5.62,5.65,3.50,0
169,170,0.71,Good,E,VS2,59.2,61.0,2772,5.80,5.88,3.46,0
175,176,0.83,Good,I,VS2,64.6,54.0,2774,5.85,5.88,3.79,0
184,185,0.72,Good,G,VS2,59.7,60.5,2776,5.80,5.84,3.47,0
189,190,0.71,Good,F,VS2,63.8,58.0,2777,5.61,5.64,3.59,0
190,191,0.71,Good,F,VS2,57.8,60.0,2777,5.87,5.90,3.40,0
203,204,0.70,Good,E,VS2,64.1,59.0,2777,5.64,5.59,3.60,0
204,205,0.98,Fair,H,SI2,67.9,60.0,2777,6.05,5.97,4.08,0
221,222,0.70,Good,E,VS1,57.2,62.0,2782,5.81,5.77,3.31,0
227,228,0.84,Fair,G,SI1,55.1,67.0,2782,6.39,6.20,3.47,0
238,239,0.71,Good,D,VS2,63.3,56.0,2788,5.64,5.68,3.58,0
239,240,0.77,Good,G,VS1,59.4,64.0,2788,5.97,5.92,3.53,0
241,242,1.01,Fair,E,I1,64.5,58.0,2788,6.29,6.21,4.03,0
243,244,0.77,Good,F,SI1,64.2,52.0,2789,5.81,5.77,3.72,0
244,245,0.76,Good,E,SI1,63.7,54.0,2789,5.76,5.85,3.70,0
251,252,0.81,Good,G,SI2,61.0,61.0,2789,5.94,5.99,3.64,0
255,256,1.05,Fair,J,SI2,65.8,59.0,2789,6.41,6.27,4.18,0
272,273,0.70,Good,E,VS2,64.1,55.0,2793,5.60,5.66,3.61,0
279,280,0.72,Good,F,VS1,60.7,60.0,2795,5.74,5.72,3.48,0
285,286,0.73,Good,E,SI1,63.2,58.0,2796,5.70,5.76,3.62,0
296,297,0.70,Fair,G,VVS1,58.8,66.0,2797,5.81,5.90,3.44,0
298,299,1.01,Fair,E,SI2,67.4,60.0,2797,6.19,6.05,4.13,0
305,306,0.90,Good,I,SI2,62.2,59.0,2800,6.07,6.11,3.79,0
314,315,0.76,Fair,G,VS1,59.0,70.0,2800,5.89,5.80,3.46,0
320,321,0.71,Good,F,VS2,57.8,60.0,2801,5.90,5.87,3.40,0

### j) Find the details of th Diamonds where length > 5, width > 5 and depth >5

In [83]:
ds[(ds.x>5)& (ds.y>5)& (ds.z>5)].head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11778,11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23
13562,13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36

### k) Read only a subset of three rows from Daimonds Data Frame and Iterate through Diamonds Data Frame

In [145]:
subset_ds=pd.read_csv('diamonds.csv',nrows=3)
subset_ds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65,327,4.05,4.07,2.31

### l) Calculate the mean of each numeric column of Daimonds Data Frame & Calculate the mean of each row of Diamonds Data Frame

In [92]:
ds.mean()

C:\Users\91720\AppData\Local\Temp\ipykernel_9836\3104133014.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ds.mean()

Unnamed: 0      2.000000
carat           0.223333
depth          59.400000
table          60.333333
price         326.333333
x               3.963333
y               3.963333
z               2.350000
dtype: float64

### m) Calculate the mean price of each cut of Daimonds Data Frame & Calculate the count , minimum, maximum price for each cut of Diamonds Data Frame

In [95]:
ds.groupby('cut').price.mean()

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

### n) Count the number of missing values in each series of Diamonds Data Frame

In [96]:
ds.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

### o) Access a specify series index and the series values of Diamonds Data Frame

In [101]:
print("Accessing the series index:")
print(ds.carat.value_counts().index)
print("Accessing the series values:")
print(ds.carat.value_counts().values)

Accessing the series index:
Float64Index([ 0.3, 0.31, 1.01,  0.7, 0.32,  1.0,  0.9, 0.41,  0.4, 0.71,
              ...
               4.0,  3.4, 2.77,  2.7, 3.05, 3.02, 3.65,  3.5, 3.22, 3.11],
             dtype='float64', length=273)
Accessing the series values:
[2604 2249 2242 1981 1840 1558 1485 1382 1299 1294 1258 1189 1127  910
  883  817  807  793  764  709  706  670  667  645  625  572  570  523
  496  492  492  488  475  473  440  430  398  394  381  373  361  342
  322  310  308  300  293  287  284  282  279  278  265  254  253  251
  251  251  249  246  246  236  233  228  226  220  215  212  212  207
  204  200  198  187  187  178  177  174  172  155  149  146  142  140
  135  134  133  131  130  126  124  123  122  122  119  110  110  109
  106  106  103  102  101   99   95   89   89   89   87   86   80   77
   68   67   65   65   64   64   63   62   61   60   59   59   57   52
   52   50   50   50   50   50   48   48   48   46   45   45   43   43
   41   40   40   36   34   32   32   31   31   31   30   28   27   26
   26   25   25   25   25   25   24   23   23   23   22   22   21   21
   21   21   21   20   19   19   18   18   18   18   18   17   17   17
   17   16   16   15   15   15   14   13   13   13   13   12   12   12
   12   11    9    9    9    9    9    9    9    8    8    8    8    8
    7    7    7    7    7    6    6    6    5    5    5    5    4    4
    4    4    4    4    4    3    3    3    3    3    3    3    3    3
    3    3    3    3    3    3    3    3    2    2    2    2    2    2
    1    1    1    1    1    1    1    1    1    1    1    1    1    1
    1    1    1    1    1    1    1]

### p) Read rows 0 through 2 (inclusive), columns 'color' through 'proce' (inclusive) of Diamonds Data Frame

In [106]:
ds.loc[0:2,['color','price']]

  color  price
0     E    326
1     E    326
2     E    327

### q) Read roes in which the 'cut' is 'premium' ,column 'color' of Diamonds Data Frame

In [146]:
ds.loc[ds.cut=='premium','color']

Series([], Name: color, dtype: object)

### r) Detect duplicate color and count the duplicate rows of Daimonds Data Frame

In [129]:
ds.shape

(53940, 11)

In [39]:
ds.cut.duplicated().sum()

53935

### s) Check the number of rows and columns and drop those row if 'any' values are missing in a row of Daimonds Data Frame

In [138]:
print("number of rows and columns:")
print(ds.shape)
print("after dropping those which are having missing values:")
print(ds.dropna(how='any').shape)

number of rows and columns:
(53940, 11)
after dropping those which are having missing values:
(53940, 11)

### t) Calculate various summary stastics of cut series of Daimonds Data Frame

In [140]:
print("\n various summary stastics of cut series of Diamond Data Frame")
print(ds.cut.describe())

 various summary stastics of cut series of Diamond Data Frame
count     53940
unique        5
top       Ideal
freq      21551
Name: cut, dtype: object

### u) Concatenate the Daimonds Data Frame with the 'color' series

In [144]:
print("original dataset")
print(ds.head())
print("concatenate the diamonds data frame with the color series")
pd.concat([ds,ds.color],axis=1).head()

original dataset
   Unnamed: 0  carat      cut color clarity  depth  table  price     x     y  \
0           1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98
1           2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84
2           3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07
3           4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23
4           5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35

      z
0  2.43
1  2.31
2  2.31
3  2.63
4  2.75
concatenate the diamonds data frame with the color series

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,E
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,E
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,E
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,I
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,J